.wrapperModal {
  padding: 15px;
  margin: 10px auto;
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
  @media (max-width: 550px) {
    width: 250px;
  }
  .img {
    width: 300px;
    display: flex;
    margin: 0 auto;
    @media (max-width: 550px) {
      width: 180px;
    }
  }
  .title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: 550px) {
      font-weight: 500;
    }
  }
  .btn {
    margin: 30px auto;
    display: flex;
    padding: 8px 18px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border: 1px solid orange;
    outline: none;
    background-color: #fff;
  }

  .btn:hover {
    background-color: black;
    border: none;
    color: #fff;
  }
}
