.cart {
  text-align: center;
  .paragraph {
    margin-top: 30px;
    font-weight: 500;
    @media (max-width: 600px) {
      font-size: 16px;
    }
  }
  .title {
    font-size: 32px;
    font-weight: 700;
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
  .img {
    margin-top: 40px;
    width: 450px;
    @media (max-width: 600px) {
      width: 200px;
    }
  }
  .wrapBtn {
    margin-top: 50px;
    .btn {
      padding: 13px 18px;
      background-color: black;
      border-radius: 25px;
      font-size: 18px;
      color: white;
      @media (max-width: 600px) {
        padding: 10px 15px;
        font-size: 14px;
      }
    }
  }
}
